<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-text color="textprimary"> مساعدة </ion-text>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="textprimary" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-row class="ion-align-self-center" style="display: inline-flex;">
        <ion-item>
          <ion-select interface="popover" placeholder="Select One" [value]=cities[0] style="font-size: 12px;">
            <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-text color="mediumgray" style="font-size: 15px; margin: 5px;"> توصيل إالي </ion-text>
        <div>
          <ion-icon class="big" slot="start" size="25" src="assets/truck.svg"></ion-icon>
        </div>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <div id="container" style="position: relative; top: 65px">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: false }">
      <ion-slide *ngFor="let category of categorys" style="width: 120px; height: 130px ;margin: 8px;">
        <ion-col>
          <category-card [category]=category ></category-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-content color="background" style="align-items: flex-start">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let card of productRes">
          <product-card [product]="card" (typeChanged)="addItemToCart(card)"></product-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-content>
<ion-footer dir="rtl">
  <div style="height: 100px; ">  
    <ion-row class="ion-align-items-center">
      <ion-col size="4" class="ion-align-items-center">
        <ion-label color="mediumgray">الحساب</ion-label>
        <br>
        <ion-text color="black">
          {{price}} ج.م
        </ion-text>
      </ion-col>
      <ion-col size="4" class="ion-align-items-center">
        <ion-label color="mediumgray">التوصيل</ion-label>
        <br>
        <ion-text color="black">
          مجاني 
        </ion-text>
      </ion-col>
      <ion-col size="4" class="ion-align-items-center">
        <div class="footer-item">
          <ion-badge style="position: absolute; bottom:  52px; right: 27px;" color="tertiary">{{itemCount}}</ion-badge>
          <ion-icon class="big" slot="start" size="25" src="assets/shopping-cart.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>